<div fxLayout="row wrap" class="container" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" style="margin-left: 35px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" class="block" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h1 class="header">
          Start</h1>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h3 class="header">
            Martabak</h3><img imgSrc="/Web/Icons/hi.jpg" class="photo">
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div class="header">
            Gosong</div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="bigContainer" fxFlex="80" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="60" fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="blueColor height relative" fxFlex="38" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">settings</mat-icon><span class="absolute text">
                Settings</span>
          </div>
          <div fxLayout="column wrap" class="orangeColor height relative" fxFlex="38" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">home</mat-icon><span class="absolute text">
                Show Desktop</span>
          </div>
          <div fxLayout="column wrap" class="redColor height relative" fxFlex="21" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">photo_camera</mat-icon><span class="absolute text">
                Games</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="greenColor height relative" fxFlex="18.5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">favorite_border</mat-icon><span class="absolute text">
                Favorite</span>
          </div>
          <div fxLayout="column wrap" class="lightblueColor height relative" fxFlex="18.5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">pets</mat-icon><span class="absolute text">
                Pets</span>
          </div>
          <div fxLayout="column wrap" class="mustardColor height relative" fxFlex="19" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">location_on</mat-icon><span class="absolute text">
                    Places</span>
          </div>
          <div fxLayout="column wrap" class="picture height relative" fxFlex="40" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><span class="absolute text">
                Gallery</span></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="redColor height relative" fxFlex="18.5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">public</mat-icon><span class="absolute text">
                Browser</span>
          </div>
          <div fxLayout="column wrap" class="orangeColor height relative" fxFlex="18.5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">mail</mat-icon><span class="absolute text">
                Email</span>
          </div>
          <div fxLayout="column wrap" class="lightblueColor height relative" fxFlex="38" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div class="box">
              <div>
                <h4>Sena&apos;s Birthday Party At Jack House on 07:00 PM</h4>
              </div>
              <div>
                <h1>25</h1>
                <p>Monday</p>
              </div>
            </div>
            <mat-icon class="icon absolute text icons">home</mat-icon>
          </div>
          <div fxLayout="column wrap" class="greenColor height relative" fxFlex="19" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">cloud</mat-icon><span class="absolute text">
                SkyDrive</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="25" fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="blueColor height relative" fxFlex="49" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">casino</mat-icon><span class="absolute text">
                Facebook</span>
          </div>
          <div fxLayout="column wrap" class="lightblueColor height relative" fxFlex="49" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">voice_chat</mat-icon><span class="absolute text">
                FaceTime</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="redColor height relative" fxFlex="49" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">notifications</mat-icon><span class="absolute text">
                Notifications</span>
          </div>
          <div fxLayout="column wrap" class="darkpinkColor height relative" fxFlex="49" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">laptop_windows</mat-icon><span class="absolute text">
                Windows Explorer</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="mustardColor height relative" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon class="icons">play_arrow</mat-icon><span class="absolute text">
                Media</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>