/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans+Condensed:wght@300&display=swap');


$blue: #1e90ff;
$mustard: #dcb702;
$red: #db302f;
$darkpink: #d22a4e;
$lightblue: #03b9e4;
$green: #62b813;
$orange: #e76022;
body{
    font-family: "Open Sans", arial;
    font-weight: 300 !important;
}
.picture{
    background-image: url("./assets/Web/free.jpg");
    background-size: cover;
    height: fit-content;
    background-position: center center;
}
.container{
    background: #0e6d38;
    color: white;
}
.header{
    font-weight: 300 !important;
}
.photo{
    width: 10%;
    height: 35px;
}
.orangeColor{
    background: $orange;
}
.blueColor{
    background: $blue;
}
.mustardColor{
    background: $mustard;
}
.redColor{
    background: $red;
}
.box{
    justify-content: space-between;
    display: flex;
    font-family: "Open Sans", arial;
    font-weight: 300 !important;
    p{
        margin: 0;
        margin-right: 8px;
    }
    h1{
        margin: 0;
    }
    h4{
        margin-top: 1px;
        margin-left: 8px;
    }
}
.bigContainer{
    width: 90%;
}
.darkpinkColor{
    background: $darkpink;
}
.lightblueColor{
    background: $lightblue;
}
.greenColor{
    background: $green;
}
.icons{
    font-size: 50px;
    height: 50px !important;
    width: 50px !important;
}
.icon{
    font-size: 25px !important;
    bottom: -20px !important;
    left: 5px !important;
}
.text{
    bottom: 5px;
    left: 5px;
    font-size: 13px;
}
.height{
    height: 126px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}